option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:80:
    Protocol: HTTP
    Rules: |
      [{
        "Field": "host-header",
        "Values": ["taewojo.site", "www.taewojo.site"]
      }]
    DefaultProcess: default
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-northeast-2:YOUR_ACCOUNT_ID:certificate/YOUR_CERTIFICATE_ID
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: '80'
    Protocol: HTTP
    HealthCheckInterval: '15'
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'